// Var

$padding = .643em .858em

$whitegray = #E0E0E0

$border = 1px solid $whitegray
$border-radius = 4px

// Base Style

body {
    font-family: Arial, "Microsoft Yahei", sans-serif;
}
    
code {
    font-family: Consolas, Verdana, sans-serif;
}
    
input,
textarea,
pre {
    font-family: inherit;
}

/**
* Link
*/

.link{
    color: #0071BC;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

.link:visited, // visted 只显示color
.link:active{
    color: #4C2C92; 
}

/**
* Textbox
* input, input[type="text"], textarea
*/

.textbox {
    padding: $padding;
    border: $border;
    border-radius: $border-radius;
    line-height: 1.14em;
    box-sizing: border-box;
    outline: 0;
    font-size: 0.875em; // 14px/16px = 
    vertical-align: top;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.05);
}

/**
* Button
*/

.button {
    display: inline-block;
    padding: .65em 1.3em;
    border: $border;
    border-radius: $border-radius;
    outline: 0;
    box-sizing: border-box;
    font-size: 0.875em; // 14px/16px
    vertical-align: top;
    background-color: #FFF;
    color: #333;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
    
.button:active {
    cursor: pointer;
    box-shadow: inset 0 0 1000px rgba(0,0,0,.2);
}

.button>*{
    vertical-align: middle; // 让span等元素能垂直居中
//    float: left; //不加float，会有空白
}

// 透明按钮,无样式
.button.transparent {
    border: 0;
    background-color: transparent;
}

.button.blue {
    color: #FFF;
    background-color: #0071bc;
    border-color: #0071bc;
}

.button.red{
    color: #FFF;
    background-color: #cd2026;
    border-color: #cd2026;
}

/**
* List
*/

.list{
    display: table;
    padding: 0;
    border: 0;
    list-style: none;
    
    li {
        display: table-row;
        line-height: 1.2;
        padding: 0.15em 0;
        
        &:before {
            display: table-cell;
            padding-right: .5em;
        }
    }
}

ol.list{
    li{
        counter-increment: ol-li;
        
        &:before {
            content: counter(ol-li)".";
        }
    }
}

ul.list li:before {
    content: "•";
}

/**
* ListView
*/

.listview {
    display: inline-block;
    padding: 0;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: transparent;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    > * {
        display: block;
        padding: $padding;
        border-top: 1px solid #E0E0E0;
        color: #333;
        text-decoration: none;
        
        &:first-child{
            border: 0;
        }
    }
    
    > *:active {
        @extend .button:active;
    }
}

/**
* Table Style
*/

.table{
    width: 100%;
}

.table tr,
.table th,
.table td{
    border: $whitegray solid;
}

.table tr{
    border-width: 1px 0;
}

.table tr:hover{
    background-color: #F9F9F9;
}

.table th,
.table td{
    padding: $padding;
    text-align: left;
    border-width: 0 1px;
}

.table.divider th,
.table.divider td,
.table.divider tr:first-child,
.table.divider tr:last-child{
    border: 0;
}

/**
* Code Style
*/

.code
    display: block
    padding: 1em 2em
    border: $border
    border-radius: $border-radius
    font-size: 12px
    line-height: 1.618em;
    background-color: #F9F9FA
    overflow: hidden // 为了选择的样式
    
    > pre
        display: inline
        word-wrap: break-word

// Divider 分割线

.divider
  border-width: 0 0 1px
  border-color: #E0E0E0

hr.divider
    margin: 0
    
// Style

.circle
    border-radius: 9999px
    
.circle-left
    border-radius: 9999px 0 0 9999px
    
.circle-right
    border-radius: 0 9999px 9999px 0

.rounded
    border-radius: 6px
    
.square
    border-radius: 0px

.shadow
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.22)
    
.naked
    border: 0;
    border-radius: 0
    outline: 0
    background-color: transparent
    box-shadow: none

.naked.listview>*
    border: 0

.hide
    display: none !important

.invisible
    opacity: 0