/**
* Text Style
*/

.lower
    text-transform: lowercase
    
.upper
    text-transform: uppercase

.capitalize
    text-transform: capitalize

.text-center
    text-align: center
    
.text-right
    text-align: right

.single-line
    display: inline
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.mark
    padding: 0.125em 0.25em
    font-size: 87.5%
    color: #C50
    background-color: #FEB
    border-radius: 4px